src/__pycache__
output/*
stoat.egg-info/*
build/*
tests/vcf_test.vcf
vcf_test.normalized.vcf
data/*
tests/build/*
tests/src/CMakeFiles/*
src/CMakeFiles/*
src/output/*
src/cmake_install.cmake
src/CMakeCache.txt

# Docker
.docker/
docker-compose.override.yml
