src/__pycache__
output/*
stoat_node.egg-info
build
.vscode
.pytest_cache
tests/.DS_Store
stoat_node/.DS_Store
STOAT.egg-info
.DS_Store
htmlcov
.coverage
tests/binary_tests_output
tests/plink_tests_output
tests/quantitative_tests_output
